<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div *ngFor="let items of productList" class="col-lg-3">
        <div class="item">
          <img [src]="" alt="product" class="img-responsive">
          <div class="text-center">{{items?.name}}</div>
          <div class="text-center">price:{{" "+items?.symbol+''+items?.price}}</div>
          <div class="text-center">emi:{{" "+items?.emi}}</div>
          <div class="text-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>
