<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div id="myCarouselBanner" class="carousel slide"  data-interval="2000" data-wrap="true"  data-pause="hover">
             <ol class="carousel-indicators">
                 <li *ngFor="let items of category?.model; let i= index" data-target="#myCarousel" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active': ''"></li>
             </ol>
              <div class="carousel-inner">
                  <div *ngFor="let items of category?.model; let i = index" [ngClass]="i == 0 ? 'item active' : 'item'" (click)="dataSendToProductList(items?.product_list)">
                      <div  class="col-lg-12 product-slide">
                          <img [src]="items?.banner" class="img-responsive" alt="banner">
                      </div>
                  </div>    
              </div>
              <a href="#myCarouselBanner" class="left carousel-control" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left arrow"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a href="#myCarouselBanner" class="right carousel-control" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right arrow"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-12 carousel-panel">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <span>New Arrival Products</span>
                  <button type="button" class="btn btn-info pull-right view-all">View All</button>
              </div>
              <div class="panel-body">
                  <div id="myCarouselSlide" class="carousel slide" data-wrap="true" data-interval="false">
                      <div class="carousel-inner">
                          <div class="item active">
                              <div class="col-lg-12 product-slide">
                                  <div *ngFor="let item of productData" (click)="getProductDetail(item)" class="col-lg-2 product-view">
                                      <img [src]="item?.productPhotos[0]" class="img-responsive product-banner" alt="banner">
                                      <div class="text-center">{{item?.product}}</div>
                                      <div class="text-center">{{item?.description}}</div>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="col-lg-12 product-slide">
                                  <div class="col-lg-2 product-view">
                                      7   
                                  </div>
                                  <div class="col-lg-2 product-view">
                                      8     
                                  </div>
                                  <div class="col-lg-2 product-view">
                                      9      
                                  </div>
                                  <div class="col-lg-2 product-view">
                                      10       
                                  </div>
                                  <div class="col-lg-2 product-view">
                                      11      
                                  </div>
                                  <div class="col-lg-2 product-view">
                                      12      
                                  </div>       
                              </div>        
                          </div>
                      </div>
                      <a href="#myCarouselSlide" class="left carousel-control" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left arrow"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a href="#myCarouselSlide" class="right carousel-control" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right arrow"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>    
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div id="myCarousel" class="carousel slide" data-wrap="true" data-interval="false">
              <div class="carousel-inner">
                  <div class="item active">
                      <div class="col-lg-12 product-slide">
                          <div *ngFor="let item of category?.model" class="col-lg-2 product-view" >
                              <img [src]="item?.banner" class="img-responsive" alt="banner">
                              <div class="text-center">{{item?.product_name}}</div>
                              <div class="text-center"></div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="col-lg-12 product-slide">
                          <div class="col-lg-2 product-view">
                               7   
                          </div>
                          <div class="col-lg-2 product-view">
                               8     
                          </div>
                          <div class="col-lg-2 product-view">
                               9      
                          </div>
                          <div class="col-lg-2 product-view">
                               10       
                          </div>
                          <div class="col-lg-2 product-view">
                               11      
                          </div>
                          <div class="col-lg-2 product-view">
                               12      
                          </div>       
                      </div>        
                  </div>
              </div>
              <a href="#myCarousel" class="left carousel-control" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left arrow"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a href="#myCarousel" class="right carousel-control" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right arrow"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
</div>
